@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Norms Pro';
    color: whitesmoke;
  }
      
  /* Fixed width container class that will "auto-center" itself */
  .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  
  .btn:hover, .fantasy-section-head:hover, .main-brand-text:hover {
      cursor: pointer;
  }
  
  /* Navbar class that will stick to the top when page is scrolled down */
  .navbar {
      position: sticky;
      top: 0px;
  }
  
  /* Containers with .row and .col classes that will center-align the items inside */
  .row, .col {
      display: flex;
      align-items: center;
  }

body {
    background-color: #050614;
}

.main-page-text {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.75rem;
    
}

.main-brand-text {
    font-family: "Galada", cursive;
    margin: 0 5rem 0 3rem;
    font-size: 2.3rem;
}

.main-brand-text span {
    font-family: "Galada", cursive;
}

.text-purple {
    color: #8000ff;
}

.text-green {
    color: #6eff00;
}

.nav-item {
    font-size: 18px;
    margin-right: 36px;
}

.nav-item i {
    margin-left: 14px;
    
}

header {
    background: linear-gradient(90deg, #050614 50%, rgba(128,0,255,1) 100%);
    padding: 1rem 0;
    margin-bottom: 0.75rem;
}

main {
    margin-bottom: 58px;
}

.row-1 > div {
    width: 399px;
}

.row-2 > div {
    width: 550px;
}

.row-3 > div {
    width: 470px;
}

.row-4 > div {
    width: 892px;
}

.fantasy-section-content {
    display: none;
    overflow: hidden;
    transition: height 2s;
}

.league-icon {
    margin-right: 12px;
}

.checkbox-hzs {
    height: 20px;
    width: 20px;
    margin: 8px;
}

li {
    list-style-type: none;
}

.flex-container {
    display: flex;
}

.container-nascar-placement {
    margin-right: 14px;
}

textarea {
    background-color: #121310;
    border: 1px solid rgb(57, 57, 69);
    border-radius: 10px;
    padding: 8px;
}

.input-num-global {
    width: 60px;
    background-color: #121310;
    border: 1px solid rgb(57, 57, 69);
    border-radius: 4px;
    height: 24px;
    margin-left: 6px;
    padding-left: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.textarea-global {
    resize: none;
}

.flex-row {
    flex-direction: row;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-space-bet {
    justify-content: space-between;
}


.fantasy-section {
    margin-bottom: 26px;
    margin-left: 18px;
    background-color: rgb(10,19,32);
    /* display: inline-block; */
    border: rgb(35, 35, 40) 1px, solid;
    border-radius: 12px;
    padding: 12px 18px;
    width: max-content;
    height: fit-content;
}

.fantasy-section h2 {
    margin-bottom: 10px;
}

.fantasy-section h4 {
    margin-bottom: 6px;
}

.fantasy-section li {
    margin-bottom: 6px;
}

.btn-go {
    background-image: linear-gradient(to bottom, #8000ff, #9b3ef8);
    font-size: 18px;
    border-style: none;
    border-radius: 0.375rem;
    padding: 4px 20px;
}

.btn-go:hover {
    background-image: linear-gradient(to bottom, #9b3ef8, #8000ff);
}

.btn-go:active {
    transform: translateY(1px);
}

.btn-clear {
    background-color: inherit;
    font-size: 18px;
    text-decoration: underline;
    color: rgb(255, 246, 0);
    border-style: none;
    padding: 4px;
}

.btn-copy {
    background-image: linear-gradient(to bottom, #75758c, #393945);
    font-size: 18px;
    border-style: none;
    border-radius: 0.375rem;
    padding: 4px 6px;
    margin-top: 8px;
    margin-left: 4px;
}

.btn-copy:hover {
    background-image: linear-gradient(to bottom, #393945, #75758c);
}

.btn-copy:active {
    transform: translateY(1px);
    content: "Copied";
}

div.btn-cont {
    margin-bottom: 12px;
}

.fs-total-result {
    margin: 12px 0;
    font-size: 18px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 16px;
    width: 100%;
    background-color: #0e1030;
}

footer p {
    margin: 0 6px;
}

.textarea-btn-cont {
    display: none;
}